.inputTitle{
  display: flex;
  justify-content: space-between;

  & span{
    text-align: left;
  }

  .buttonDiv{
    display: flex;
    align-items: end;
  }
}

.editContainer {
  width: 100%;
  padding: 1em;


  h4{
    margin: 0;
    text-align: left;
    color: dimgrey;
  }

  h1{
    margin: 0;
    text-align: left;
  }

  .inputTitleDiv{
    display:flex;
    padding: .5em 0;
  }

  .crossLine{
    margin: .5em;
  }

  .mainEditor{
    height: calc(70vh - 100px);

    .headerDiv{
      display: flex;
      gap: 10px;

      .tagsDiv{
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .commonEditor{
      height: 90%;
      margin: 1em 0 1em 0;
      overflow: auto;
    }

  }

}