:root{
  user-select: none;
}

.divideLine{
  margin: .5em .5em 1em .5em;
  width: 100%;
  translate: -7px;
  border: solid 1px #d3cfcf;
}

.instructionTitle{
  margin: 0;

  & p{
    margin: .5em;
    color: #1e1d1d;
    font-size: 1.5em;

    & strong{
      background-color: #837f7f;
    }
  }

  .tableBtn{
    display: flex;
    justify-content: flex-end;
  }
}

.instructionContent{
  margin: 1.5em .5em .5em .5em;


  & button{
    margin: 0 .5em;
  }
  & span{
    color: #1e1d1d;
    font-size: 1.4em;

    & strong{
      margin: 0 .5em;
    }
  }
  & p{
    font-size: 1.2em;
  }
}

.buttonContain{
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column-reverse;
}

.contentToCopy{
  height: fit-content;

  .noteItem{
    display: flex;
  }
}