$headerHeight: 50px;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: $headerHeight;
  background-color: rgba(88, 129, 163, 0.61);
  -webkit-app-region: drag;

  .el-menu--horizontal.el-menu{
    border: none;
  }

  .leftHeader {
    display: flex;
    position: absolute;
    left: 0;
    margin: 0 .6em 0 .6em;

    .icon {
      height: 30px;
      width: 30px;
      border-radius: 23%;
      margin-right: .6em;
    }

    .appTitle {
      display: flex;
      align-items: center;
    }
  }

  .centerHeader {
    width: fit-content;
    -webkit-app-region: no-drag;

    .menuHeader {
      height: ($headerHeight + 2px);

      .el-menu-item {
        height: 100%;
      }
    }
  }

  .rightHeader {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
    -webkit-app-region: no-drag;

    .minIcons {
      padding: 1em;
      &:hover {
        background-color: rgba(109, 127, 145, 0.45);
      }
    }

    .maxIcons {
      padding: 1em;
      &:hover {
        background-color: rgba(109, 127, 145, 0.45);
      }
    }

    .closeIcon {
      padding: 1em;
      &:hover {
        background-color: rgba(255, 9, 0, 0.68);
      }
    }
  }
}