.noticesTitle{
  display: flex;
  margin: 0 0 0 .5em;

  & h2{
    margin: 0;
  }
}

.divideLine{
  margin: .5em;
  border: solid 1px #d3cfcf;
}

.createNotices{
  display: flex;
  margin: 0 0 1em .5em;
}

.mainContentContain{
  padding: 1em;
  width: 100%;


  .insideTitle{
    display:flex;
  }

  .insideContent{
    display: flex;
  }

  .forEditor{
    display: flex;
    padding: 0 0 0 1em;
  }

  .textContainer{

    .textInfoContain{
      display: flex;
      flex-direction: column;
      text-align: left;
      margin: .8em;
      border: solid rgba(109, 127, 145, 0.45) 2px;
      border-radius: .2em;

      &:hover{
        box-shadow: 0 0 10px rgba(149, 183, 209, 0.68);
        cursor: pointer;
      }

      .upOne{
        margin: .8em;
      }

      .downOne{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 .8em .8em .8em;
      }
    }

  }
}